#  Spark DataFrame Basics

In [2]:
import findspark
findspark.init('/home/tam/Desktop/spark-3.0.0-preview-bin-hadoop2.7')

In [3]:
import pyspark

In [4]:
from pyspark.sql import SparkSession

In [6]:
spark = SparkSession.builder.appName('Basics').getOrCreate()

In [8]:
df= spark.read.json('Python-and-Spark-for-Big-Data-master/Spark_DataFrames/people.json')

In [10]:
# .show() will display or print 
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [11]:
# print schema will print the each feature type
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [12]:
df.columns

['age', 'name']

In [15]:
# describe will print only the summary of each feature type 
df.describe().show()
# it prints descriptive statistics of each feature

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

# converting long to int in schema

In [16]:
from pyspark.sql.types import StructField
from pyspark.sql.types import StringType
from pyspark.sql.types import IntegerType
from pyspark.sql.types import StructType

In [18]:
# pass a name (age) in the field, pass in type I want (here i want integer type), Boolean will use null or not
data_schema = [StructField('age', IntegerType(), True),
              StructField('name', StringType(), True)]

In [19]:
final_struc = StructType(fields = data_schema)

In [20]:
df = spark.read.json('Python-and-Spark-for-Big-Data-master/Spark_DataFrames/people.json', schema=final_struc)

In [21]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [24]:
df['age']

Column<b'age'>

In [25]:
type(df['age'])

pyspark.sql.column.Column

In [28]:
type(df.select('age'))

pyspark.sql.dataframe.DataFrame

In [26]:
df.select('age')

DataFrame[age: int]

In [27]:
df.select('age').show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [29]:
df.head(2)

[Row(age=None, name='Michael'), Row(age=30, name='Andy')]

In [30]:
df.head(2)[0]

Row(age=None, name='Michael')

In [31]:
type(df.head(2)[0])

pyspark.sql.types.Row

In [32]:
df.select(['age','name'])

DataFrame[age: int, name: string]

In [33]:
df.select(['age','name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [35]:
# adding a columns to existing dataframe
df.withColumn('newage', df['age']).show()

+----+-------+------+
| age|   name|newage|
+----+-------+------+
|null|Michael|  null|
|  30|   Andy|    30|
|  19| Justin|    19|
+----+-------+------+

In [36]:
df.withColumn('newage', df['age']*2).show()

+----+-------+------+
| age|   name|newage|
+----+-------+------+
|null|Michael|  null|
|  30|   Andy|    60|
|  19| Justin|    38|
+----+-------+------+

In [37]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [39]:
# changing the column name
df.withColumnRenamed('age','my_new_age').show()

+----------+-------+
|my_new_age|   name|
+----------+-------+
|      null|Michael|
|        30|   Andy|
|        19| Justin|
+----------+-------+

In [42]:
df.createOrReplaceTempView('people')

In [43]:
results = spark.sql('SELECT * FROM people')

In [44]:
results.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [45]:
new_results = spark.sql('SELECT * FROM people WHERE age=30')

In [46]:
new_results.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+